@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
main > *{
    font-family: 'GangwonEdu_OTFBoldA';
}
#jdtiNullSpace1{
    height:345px;
}
#jdtiNullSpace2{
    height:345px;
}
.openDoorImg{
    position:absolute;
    height: 100%;
    bottom:0px;
}
.leftDoor{
    transform: translateX(-472px);
    animation: openLeftDoorAni 1s linear;
    animation-fill-mode: forwards;
}
@keyframes openLeftDoorAni{
    from{

    }
    to{
        transform: translateX(-712px);
    }
}
.rightDoor{
    transform: translateX(0px);
    animation: openRightDoorAni 1s linear;
    animation-fill-mode: forwards;
}
@keyframes openRightDoorAni{
    from{

    }
    to{
        transform: translateX(240px);
    }
}
.jdtiMain{
    text-align:center ;
    padding-top:60px;
    padding-bottom: 80px;
    position:relative;
    overflow: hidden;
    background-color:#edb880;
    background-image:url("../image/산신령.png");
    background-repeat: no-repeat;
    background-size: auto 1200px;
    background-position: center;
}
#jdtiSection1{
    border:1px black solid;
    text-align: center;
    font-size:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:440px;
    height:500px;
    padding:30px;
    border-radius: 70px;
    background-color:burlywood;
    margin:auto;
}
#jdtiSection2{
    border:1px black solid;
    text-align: center;
    font-size:16px;
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    width:440px;
    height:1190px;
    padding:30px;
    border-radius: 70px;
    background-color:burlywood;
    margin:auto;
}
.jdtiTestHeader{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jdtiLogo{
    width:100px;
    aspect-ratio: 8 / 5;
}
#jdtiPage0 ~ div{
    display:none;
}
.jdtiOption > div{
    margin-top: 15px;
    cursor: pointer;
}
.jdtiOption > div > span{
    border-radius: 4px;
    background-color:burlywood;
    border:2px solid brown;
    padding:8px 2px 6px 0px;
    display: inline-block;
    width:300px;
}
#jdtiResultLoading {
    display: flex;
}
#jdtiResultLoading > div{
    width:20px;
    height:20px;
    border-radius:50%;
    position: absolute;
    padding-top:30px;
}
.jdtiLoadingCircle1{
    background-color: red;
    animation:jdtiLoadingCircleAni 3s linear 2;
    left:46.5%;
}
.jdtiLoadingCircle2{
    background-color: blue;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:0.5s;
    left:49.5%;
}
.jdtiLoadingCircle3{
    background-color: lime;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:1s;
    left:52.5%;
}
#jdtiResultName{
    font-size:24px;
    font-weight:bold;
}
#jdtiResultBox{
    border:1px black solid;
    border-radius: 40px;
    display: inline-block;
    padding:20px;
}
#jdtiResultImg{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin:auto;
    border:1px solid black;
    position:relative;
    background-color: white;
}
#jdtiResultImg > img{
    width:60%;
    margin-top:11%;
}
td > img{
    width:100%;
}
@keyframes jdtiLoadingCircleAni{
    0%{

    }
    10%{
        transform:translateY(-30px);
    }
    20%{
        transform:translateY(0vw);
    }
    60%{
        transform:translateY(0vw);
    }
    70%{
        transform:translateY(-30px);
    }
    80%{
        transform:translateY(0vw);
    }
}

@media screen and (max-width:600px){
    .jdtiMain{
        background-size: auto 1000px;
    }
    .jdtiOption > div > span{
        width:220px;
    }
    #jdtiSection1{
        font-size:11px;
        width:300px;
    }
    #jdtiSection2{
        font-size:12px;
        width:300px;
        height:1030px;
    }
    .jdtiLoadingCircle1{
        left:39%;
    }
    .jdtiLoadingCircle2{
        left:49%;
    }
    .jdtiLoadingCircle3{
        left:59%;
    }
    #jdtiNullSpace1{
        height:265px;
    }
    #jdtiNullSpace2{
        height:265px;
    }
    .leftDoor{
        transform: translateX(-425px);
    }
    .rightDoor{
        transform: translateX(-10px);
    }
    @keyframes openLeftDoorAni{
        from{
    
        }
        to{
            transform: translateX(-595px);
        }
    }
    .rightDoor{
        animation: openRightDoorAni 1s linear;
        animation-fill-mode: forwards;
    }
    @keyframes openRightDoorAni{
        from{
    
        }
        to{
            transform: translateX(180px);
        }
    }
}