.jdti{
    text-align: center;
    height:80vh;
    font-size:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top:130px;
    padding-bottom: 60px;
}
.jdtiTestHeader{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jdtiLogo{
    width:10vh;
    aspect-ratio: 8 / 5;
}
#jdtiPage0 ~ div{
    display:none;
}
.jdtiOption > div{
    margin-top: 15px;
}
.jdtiOption > div > span{
    border-radius: 4px;
    background-color:burlywood;
    border:2px solid brown;
}
#jdtiResultLoading {
    position:relative;
}
#jdtiResultLoading > div{
    width:2vw;
    height:2vw;
    border-radius:1vw;
    position: absolute;
}
.jdtiLoadingCircle1{
    background-color: red;
    animation:jdtiLoadingCircleAni 3s linear 2;
    left:40vw;
}
.jdtiLoadingCircle2{
    background-color: blue;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:0.5s;
    left:50vw;
}
.jdtiLoadingCircle3{
    background-color: lime;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:1s;
    left:60vw;
}

@keyframes jdtiLoadingCircleAni{
    0%{

    }
    10%{
        transform:translateY(-3vw);
    }
    20%{
        transform:translateY(0vw);
    }
    60%{
        transform:translateY(0vw);
    }
    70%{
        transform:translateY(-3vw);
    }
    80%{
        transform:translateY(0vw);
    }
}

@media screen and (max-height:1800px){
    .jdti{
    font-size:45px;
    }
}
@media screen and (max-width:1300px){
    .jdti{
    font-size:40px;
    }
}
@media screen and (max-height:1600px){
    .jdti{
    font-size:40px;
    }
}
@media screen and (max-height:1400px){
    .jdti{
    font-size:35px;
    }
}
@media screen and (max-width:1100px){
    .jdti{
    font-size:35px;
    }
}
@media screen and (max-width:900px){
    .jdti{
    font-size:30px;
    }
}
@media screen and (max-height:1250px){
    .jdti{
    font-size:30px;
    }
}
@media screen and (max-height:1100px){
    .jdti{
    font-size:25px;
    }
}
@media screen and (max-width:750px){
    .jdti{
    font-size:25px;
    }
}
@media screen and (max-width:600px){
    .jdti{
    font-size:20px;
    }
}
@media screen and (max-height:900px){
    .jdti{
    font-size:20px;
    }
}
@media screen and (max-height:700px){
    .jdti{
    font-size:18px;
    }
}
@media screen and (max-height:600px){
    .jdti{
    font-size:16px;
    }
}
@media screen and (max-width:500px){
    .jdti{
    font-size:15px;
    }
}
@media screen and (max-height:550px){
    .jdti{
    font-size:14px;
    }
}
@media screen and (max-width:400px){
    .jdti{
    font-size:13px;
    }
}
@media screen and (max-height:500px){
    .jdti{
    font-size:12px;
    }
}
@media screen and (max-width:350px){
    .jdti{
    font-size:11px;
    }
}
@media screen and (max-height:450px){
    .jdti{
    font-size:10px;
    }
}
@media screen and (max-height:350px){
    .jdti{
    font-size:8px;
    }
}