.jdtiMain{
    text-align:center ;
    padding-top:60px;
    padding-bottom: 80px;
}
#jdtiSection1{
    border:1px black solid;
    text-align: center;
    font-size:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:440px;
    height:500px;
    padding:30px;
    border-radius: 70px;
    background-color:burlywood;
    margin:auto;
}
#jdtiSection2{
    border:1px black solid;
    text-align: center;
    font-size:16px;
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    width:440px;
    height:1000px;
    padding:30px;
    border-radius: 70px;
    background-color:burlywood;
    margin:auto;
}
.jdtiTestHeader{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jdtiLogo{
    width:100px;
    aspect-ratio: 8 / 5;
}
#jdtiPage0 ~ div{
    display:none;
}
.jdtiOption > div{
    margin-top: 15px;
}
.jdtiOption > div > span{
    border-radius: 4px;
    background-color:burlywood;
    border:2px solid brown;
}
#jdtiResultLoading {
    display: flex;
}
#jdtiResultLoading > div{
    width:20px;
    height:20px;
    border-radius:50%;
    position: absolute;
    padding-top:30px;
}
.jdtiLoadingCircle1{
    background-color: red;
    animation:jdtiLoadingCircleAni 3s linear 2;
    left:40%;
}
.jdtiLoadingCircle2{
    background-color: blue;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:0.5s;
    left:50%;
}
.jdtiLoadingCircle3{
    background-color: lime;
    animation:jdtiLoadingCircleAni 3s linear 2;
    animation-delay:1s;
    left:60%;
}
#jdtiResultName{
    font-size:24px;
    font-weight:bold;
}
#jdtiResultImg{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin:auto;
    border:1px solid black;
    position:relative;
    background-color: white;
}
#jdtiResultImg > img{
    width:60%;
    margin-top:11%;
}
td > img{
    width:100%;
}

@keyframes jdtiLoadingCircleAni{
    0%{

    }
    10%{
        transform:translateY(-30px);
    }
    20%{
        transform:translateY(0vw);
    }
    60%{
        transform:translateY(0vw);
    }
    70%{
        transform:translateY(-30px);
    }
    80%{
        transform:translateY(0vw);
    }
}

@media screen and (max-width:1300px){
    .jdtiSection{
    font-size:16px;
    }
}