@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main > * {
    font-family: 'GangwonEdu_OTFBoldA';
}

main {
    height: 60vh;
}

main > * {
    display: flex;
    justify-content: center;
}

/* 로고 div */
main > .logoDiv {
    margin-top: 28vh;
}

/* id,pw div */
main > .loginIDPW {
    flex-direction: column;
    align-items: center;
    height: 25vh;
}

/* input 배경 변경 */
main > .loginIDPW > div > input {
    background-color: white;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 20px;
    margin-top: 10px;
}

/* 로그인 및 회원가입 버튼 마진 */
main > .btnDiv > * {
    margin: 10px;
}

/* 로그인 및 회원가입 버튼 설정 */
main > .btnDiv > button {
    background-color: white;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 5vh;
    height: 40px;
}

/* 로그인 및 회원가입 버튼 a태그 설정 */
main > .btnDiv > button > a {
    color: black;
    text-decoration: none;
}

/* 로그인 버튼 */
main > .btnDiv > .loginBtn {
    width: 75px;
}

/* 회원가입 버튼 */
main > .btnDiv > .joinBtn {
    width: 95px;
}